* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

h1 {
    font-size: 50px;
    margin: auto;
}

/* center website */

.main {
    max-width: 1000px;
    margin: auto;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */

.row, .row>.column {
    padding: 8px;
}

